html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#view {
	width: 20%;
	height: 100%;
	float: left;
}

#download {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#map {
	height: 100%;
	width: 80%;
	float: right;
}